BOT_TOKEN=

ADMIN_TELEGRAM_IDS=6154678499
ADMIN_CONTACT_USERNAME=xtt1x
CHANNEL_URL=https://t.me/xtt10x

SSH_SHARED_INTERNAL_HOST=ssh-shared-server.railway.internal
SSH_API_SECRET=
SSH_PUBLIC_HOST=
SSH_PUBLIC_PORT=

XRAY_SHARED_INTERNAL_HOST=xray-shared-server.railway.internal
XRAY_API_SECRET=
XRAY_VLESS_PUBLIC_HOST=
XRAY_VMESS_PUBLIC_HOST=

FREE_TRIAL_DAYS=1
